{% extends 'indexwhf.html' %}
{% block titulo %}
Marcar visita
{% endblock %}

{% block conteudo %}
<section class="d-flex align-items-center justify-content-center vh-100">
    <div class="card py-3 px-3 book-card flex-grow-1 shadow-lg">
        <div class="card-header bg-transparent py-3 mb-3">
            <h2 class="fw-bold">Formulário de visita</h2>
        </div>
        <div class="card-body">
            <form class="form" action="/usuarios/book/{{lar.id}}" method="POST">
                <label class="form-label mb-3 fw-bold" for="name">Nome do usuário</label>
                <input class="form-control mb-2" type="text" name="name" placeholder="Nome completo">
                <label class="form-label mb-3 fw-bold" for="visit-date">Data da visita</label>
                <input class="form-control mb-2" type="datetime-local" name="visit-date">
                <label class="form-label mb-3 fw-bold" for="asylum-name">Lar de destino</label>
                <input class="form-control mb-2" name="asylum-name" value="{{lar.nome}}" readonly>
                <label class="form-label mb-3 fw-bold" for="asylum-name">Quantidade de pessoas</label>
                <input class="form-control mb-2" name="qnt" type="number">
                <label for="visit-reason" class="form-label fw-bold">Motivo da visita</label>
                <textarea class="form-control textarea" name="visit-reason" placeholder="Escreva sua mensagem..."
                          rows="4"></textarea>
                <input type="submit" value="Enviar" class="btn bg-dark-blue px-5 mt-3 fw-bolder text-white w-100">
            </form>
        </div>
    </div>
</section>
{% endblock %}