{% extends 'indexwhf.html' %}
{% block titulo %}
Editar visita
{% endblock %}

{% block conteudo %}
<section>
    {% with back=True %}
    {% if session['id_info'] %}
    {% with u=session['id_info']['given_name'] %}
    {% include 'user/logheader.html'%}
    {% endwith %}
    {% else %}
    {% if nome=='' %}
    {% with u='' %}
    {% include 'user/logheader.html'%}
    {% endwith %}
    {% else %}
    {% with u=user.nome %} {% with user=user %}
    {% include 'user/logheader.html'%}
    {% endwith %} {% endwith %}
    {% endif %}
    {% endif %}
    {% endwith %}
    <figure class="mb-4">
        <img src="http://placehold.it/1440x316">
    </figure>
    <div class="lar-content-container">
        <div class="d-flex align-items-center">
            <div>
                <h2 class="text-dark-blue fw-bold">{{lar.nome}}</h2>
                <h4 class="d-flex align-items-center gap-1 mb-4"><i class="ri-map-pin-2-fill"></i> Av. Exemplo, 201</h4>
            </div>
            <a class="text-decoration-none text-white btn btn-success btn-visit ms-auto" href="/usuarios/book/{{lar.id}}">Visitar lar</a>
        </div>
        <hr>
        <h3 class="fw-bold">Contatar</h3>
        <ol class="p-0 d-flex flex-column gap-2 text-dark-blue">
            <li class="d-flex align-items-center gap-2"><i class="ri-phone-line"></i>{{lar.telefone}}</li>
            <li class="d-flex align-items-center gap-2"><i class="ri-mail-line"></i>{{email}}</li>
            <li class="d-flex align-items-center gap-2"><i class="ri-instagram-line"></i>{{lar.instagram}}</li>
        </ol>
    </div>
</section>
{% endblock %}