/*cad container*/
.cad-check-input:checked[type=radio] {
  background-image: none !important;
}

.cad-check-input[type=radio] {
  max-width: 1.375em;
}

.form-radio-options label{
  font-size: .875em;
   cursor: pointer;
   margin-right: 10px;
}

.cad-card{
  min-width: 29.125em;
  padding-top: 4em ;
  padding-left: 4.25em;
  padding-right: 4.25em;
  padding-bottom: 1em;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(153, 153, 153, 0.20);
}

.cad-card::before{
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #195F82;
  background-image: url("/static/img/rav_login.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.cad-card a,
.cad-card p,
.cad-card label,
.cad-card span{
  font-size: .75rem;
}

.cad-card .form-control{
  font-size: .875rem;
}

.steps canvas{
  width: .5em;
  height: .5em;
  border-radius: 50%;
}

.step-color{
  background-color: #195F82;
}

.step-uncolor{
  background-color: #86989B;
}