.lares-container{
    padding: 2.3em 3.5em;
}

.lares-pre-title{
    line-height: 1.5em;
    letter-spacing: 3.2px;
}

.lares-cards{
    margin-top: 2.3em;
}

.lar-title{
    font-size: .875em;
}

.lar-desc{
    font-size: .75em;
}

.lar-card{
    max-width: 17.375em;
    transition: .5s ease;
}

.lares-perfil-photo{
    width: -webkit-fill-available;
    max-height: 16.5em;
    aspect-ratio: 4/16;
}

.lar-card:hover {
    transform: translateY(-5px);
}