.user-profile-content{
 padding: 2em 7em;
}

.btn-notification{
  border-radius: 50%;
}

.btn-notification:focus{
  background-color: #c0c0c0 !important;
  box-shadow: none;
}

.profile-picture{
  width: 13rem;
  border-radius: 50%;
}

.profile-header-picture{
 width: 2.5em;
}

.edit-btn{
  background-color: #1FD2A7;
  padding: 1em 4em;
  border: none;
  border-radius: 10px;
}

.sbmt-btn-profile{
  padding: .5em 2.625em;
  border: none;
  border-radius: 10px;
  background-color: #195F82;
}

.profile-contact{
  padding-left: 5.5em;
}

.tel-input{
  max-width: 22em;
  border-radius: 10px;
  border-right: none;
}

.plus{
  background-color: white;
  border-left: none;
  color: #41C2A6;
}

.plus:hover{
  
}