.visit-info-btn{
  cursor: pointer;
}

.visit-home-content{
  padding: 0 3.75em;
}

.btn-visit{
  padding: 1.20em 3.75em;
}

.book-card{
  max-width: 32.5em;
}

.btn-selected-page{
  height: 2.8em;
  width: 2.8em;
  border-radius: 50%;
  background-color: #1FD2A7;
  color: white;
}

.btn-other-page{
  height: 2.8em;
  width: 2.8em;
  border-radius: 50%;
  background-color: #D9D9D9;
  color: black;
}