{% extends 'indexwhf.html' %}

{% block titulo %}
  Login
{% endblock %}

{% block conteudo %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div id="toast">
        <p class="message {{category}} p-0 m-0">
          {{message}}
        </p>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <section class="d-flex justify-content-center align-items-center login-section">
    <div class="card login-card border-0">
      <h4 class="form-login-title fw-bold text-center">Entre em sua conta</h4>
      <form method="post" action="/login/">
        
        <div class="mb-3 mt-4">
          <label class="fw-bold form-label" for="login-email">Email</label>
          <input class="form-control" type="email" name="login-email">
        </div>
        <div class="mb-3">
          <label class="fw-bold form-label" for="login-password">Senha</label>
          <input class="form-control" type="password" name="login-password">
        </div>
        
        <a class="text-decoration-none" href="#">Esqueceu sua senha?</a>
        <button class="form-control mt-3 btn-login text-white" type="submit">Entrar</button>
      </form>
      <div class="or my-3 px-2">
        <hr>
        <span>ou</span>
      </div>

      <div class="d-flex google-login align-items-center justify-content-center">
        <img class="google-mark" src="../static/img/div.google-logo.svg" alt="google mark">
        <form class="w-100" action="/login/google" method="POST">
          <button class="form-control border-0 bg-transparent text-white" type="submit">Entre com o google</button>
        </form>
      </div>

      <hr class="my-4">
      <p class="text-center">Não possuí conta? <a class="text-decoration-none" href="/cadastro">Cadastre-se</a></p>
    </div>
  </section> 

{% endblock %}