{% extends 'indexwhf.html' %}

{% block titulo%}
  Cadastro
{% endblock %}

{% block conteudo %}
<section class="d-flex align-items-center justify-content-center vh-100 bg-dark-blue bottom-l-detail">
  <div class="card asylum-cad-card flex-grow-0 px-5 py-3 shadow-lg">
    <div class="card-body">

      <div class="mt-4">
        <h3 class="fw-bold text-center">Cadastre seu asilo</h3>
        <hr>
      </div>

      <div class="form-asylum-cad">
        <label for="asylum-name" class="mb-2 fw-bolder">Nome do asilo</label>
        <input type="text" class="form-control mb-3" placeholder="Nome do asilo" name="asylum-name">
        <label for="asylum-cep" class="mb-2 fw-bolder">CEP</label>
        <input type="text" class="form-control mb-3" placeholder="CEP" name="asylum-cep">
        <label for="asylum-cnpj mt-3" class="mb-2 fw-bolder">CNPJ</label>
        <input type="text" class="form-control mb-5 bg-muted" placeholder="CNPJ" name="asylum-cnpj">
        <input type="button" class="btn bg-dark-blue text-white form-control" value="Entrar">
      </div>
      
    </div>
  </div>
</section>
{% endblock %}
