{% extends 'indexwhf.html' %}

{% block titulo%}
    Cadastro
{% endblock %}

{% block conteudo %}
<section class="d-flex align-items-center justify-content-center vh-100 login-section flex-column">
    <div class="card cad-card">
        <div class="cad-body">
            <h4>Selecione seu tipo de usuário</h4>
            <form action="#" method="post" class="pb-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipo" id="homeCheck" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                    Lar de idosos
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipo" id="volCheck">
                    <label class="form-check-label" for="volCheck">
                    Voluntário
                    </label>
                </div>
                <button type="submit" class="form-control mt-3 btn-login text-white">Selecionar</button>
            </form>
        </div>
    </div>

    <div class="steps mt-3">
        <canvas class="step-uncolor"></canvas>
        <canvas class="step-color"></canvas>
    </div>
</section>
{% endblock %}
