<header>
  <div class="d-flex align-items-center justify-content-between gap-3 px-5 py-3">

    {% if back %}
    <button class="border-0 bg-transparent return-button me-auto" onClick="history.back()"><i class="ri-arrow-left-line"></i></button>
    {% endif %}

    <button class="btn btn-notification ms-auto">
      <i class="ri-notification-line"></i>
    </button>

    <div class="d-flex gap-1 align-items-center">
      <figure class="m-0 me-3">
        <img class="profile-header-picture rounded-circle" src="
        {%if session['id_info']%}
          {{session['id_info']['picture']}}
        {% else %}
          https://static.vecteezy.com/system/resources/previews/000/574/512/large_2x/vector-sign-of-user-icon.jpg
        {%endif%}
        "/>
      </figure>
      <small class="mb-0">
        {{ u }}
      </small>
    </div>
  </div>
  <hr class="m-0">
</header>