<header>
  <div class="d-flex align-items-center justify-content-end px-5 py-3">
    <figure class="m-0 me-3">
      <img class="profile-header-picture rounded-circle" src="
      {%if session['id_info']%}
        {{session['id_info']['picture']}}
      {% else %}
        https://static.vecteezy.com/system/resources/previews/000/574/512/large_2x/vector-sign-of-user-icon.jpg
      {%endif%}
      "/>
    </figure>
    <h4 class="fw-bold mb-0"> 
      {{ u.nome.capitalize().split()[0] }}
    </h4>
  </div>
  <hr class="m-0">
</header>