{% extends 'indexwhf.html' %}
{% block titulo %}
  Meu perfil
{% endblock %}

{% block conteudo %}
  <section>
    <div class="d-flex vh-100">

      {%with wAfter = True %}
        {% include 'user/loghome.html'%}
      {%endwith%}

      <div class="flex-grow-1">
        {% with u=userType %}
          {% include 'user/logheader.html'%}
        {% endwith %}
        <div class="user-profile-content flex-grow-1">
          <div class="row">

            <div class="d-flex flex-column col-4 align-items-center">
              <img class="profile-picture" src="
              {%if s['id_info']%}
                {{s['id_info']['picture']}}
              {%endif%}
              "/>

              <button class="mt-4 text-white edit-btn fw-bold">Editar perfil</button>
            </div>

            <div class="col-8">
              <div class="card shadow-lg border-0 py-4">
                <div class="card-header py-4">
                  <h4 class="fw-bold mb-0">Dados da conta</h4>
                </div>
                <div class="card-body profile-contact py-4">
                  <label class="fw-bold">E-mail</label>
                  <p class="mt-2">{{user.email}}</p>
                  <label class="fw-bold mt-3">Nome</label>
                  <p class="mt-2">{{session['id_info']['given_name']}} {{session['id_info']['family_name']}}</p>
                </div>
              </div>

              <div class="card mt-5 shadow-lg border-0">
                <div class="card-header py-4">
                  <h4 class="fw-bold mb-0">Dados de contato</h4>
                </div>
                <form class="card-body profile-contact py-4">
                  <label class="mb-2">Telefone</label><br>
                  <div class="input-group">
                    <input class="form-control tel-input" type="text" placeholder="Adicionar telefone">
                    <button class="input-group-text plus">+</button>
                  </div>
                  <button type="submit" class="sbmt-btn-profile fw-bold text-white mt-4">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}